:root {
  --primary: #2e073f;
  --secondary: #ad49e1;
  --light: #ebd3f8;
}
h1,
p,
a,
i {
  color: var(--primary);
}

a,
i:hover {
  color: var(--secondary);
}

button {
  background-color: var(--primary);
  color: var(--light);
  border: none;
}

button:hover {
  background-color: var(--light);
  color: var(--primary);
}
